:root {
	--primary: #7300e0;
	--secondary: #ff00e0;
	--primary-light: #b300e0;
	--secondary-light: #ff8cf2;
	--primary-dark: #4100a0;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--primary-dark);
	border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
	background-color: var(--primary-dark);
	border-radius: 10px;
}

div::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

div:hover::-webkit-scrollbar-thumb {
	background-color: var(--primary-dark);
	border-radius: 10px;
}

div:hover::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-float infinite 3s ease-in-out;
	}
}

@keyframes App-logo-float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0px);
	}
}
